body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-weight: 350;
    font-size: 250%;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.text {
  font-size: 18px;
  font-family: lato;
  padding-left: 10px;
}

@media only screen and (min-width: 1025px) {
.image {
    width: 20%;
    }
}

@media only screen and (max-width: 420px) {
    .image {
        display: none;
    }
    .text {
        font-family: lato;
        font-size: 22px;
        border-style: solid;
        border-width: medium;
        margin-left: 10px;
        padding: 10px;
        border-radius: 8px;
    }
}

a:link {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    /* Hiiri linkin päällä tuo esiin värillisen laatikon linkin ympärille ja teksti muuttuu valkoiseksi */
    background-color: rgb(23, 23, 23);
    color: white;
}